@import "./resets";
@import "./variables";



.header{
    padding: 2rem 1rem;
    color: $header;
}

.main_body{
    background-color: $backgroundColor;
    width: 100%;
	height: 500px;
    color: red;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('../../image1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

    h2{
        font-size: 50px;
	    color: $header;
        padding: 2rem;
        font-weight: bolder;

        &:hover{
            color: blue;
        }

     }
     p{
         font-size: 1.5rem;
         color: white;
     }
}
.btn1{
    text-align: center;

    button{
        @include CenterBtn();

        &:hover{
            background-color: $backgroundColor;
        }
    }
}

